<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RPG Combat</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css"/>
</head>
<body>
  <div id="loading" class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  <main id="main" class="invisible">
    <div class="container">
      <input id="color-picker" type="color" onchange="colorChange()">
    </div>
    <canvas id="screen"></canvas>
  </main>
  <script>
    var name = "<%= name %>";
    var socketURL = "<%= process.env.APP_URL %>";
  </script>
  <script src="assets/js/variables.js"></script>
  <script src="assets/js/draw.js"></script>
  <script src="assets/js/socket.js"></script>
  <script src="assets/js/index.js"></script>
</body>
</html>